<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="MANAGED">
				<property name="closeConnection" value="true" />
			</transactionManager>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/SpringLTDS" />
			</dataSource>
		</environment>
	</environments>
  	
	<mappers>
		<mapper resource="vn/laptrinh/dao/xml/UserMapper.xml" />
	</mappers>
</configuration>