@charset "utf-8";

@import 'css/template.css';

@import 'new/css/style.css';

@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix')
		format('embedded-opentype'), url('../fonts/Roboto-Regular.woff')
		format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'),
		url('../fonts/Roboto-Regular.svg#RobotoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoBold';
	src: url('../fonts/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold.ttf') format('truetype'),
		url('../fonts/Roboto-Bold.svg#RobotoBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensedRegular';
	src: url('../fonts/RobotoCondensed-Regular.eot');
	src: url('../fonts/RobotoCondensed-Regular.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
		url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'),
		url('../fonts/RobotoCondensed-Regular.svg#RobotoCondensedRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe';
	src: url('../fonts/Segoe-Ui-Semibold.eot');
	src: url('../fonts/Segoe-Ui-Semibold.eot?#iefix')
		format('embedded-opentype'), url('../fonts/Segoe-Ui-Semibold.woff')
		format('woff'), url('../fonts/Segoe-Ui-Semibold.ttf')
		format('truetype'), url('../fonts/Segoe-Ui-Semibold.svg#Segoe')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe-Regular';
	src: url('../fonts/Segoe-Ui-Regular.eot');
	src: url('../fonts/Segoe-Ui-Regular.eot?#iefix')
		format('embedded-opentype'), url('../fonts/Segoe-Ui-Regular.woff')
		format('woff'), url('../fonts/Segoe-Ui-Regular.ttf')
		format('truetype'), url('../fonts/Segoe-Ui-Regular.svg#Segoe-Regular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_UTM Swiss CondensedBold';
	src: url('../fonts/UTM-Swiss-CondensedBold.eot');
	src: local('?'), url('../fonts/UTM-Swiss-CondensedBold.woff')
		format('woff'), url('../fonts/UTM-Swiss-CondensedBold.ttf')
		format('truetype'), url('../fonts/UTM-Swiss-CondensedBold.svg')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_UTM Swiss Condensed';
	src: url('../fonts/UTM-Swiss-Condensed.eot');
	src: local('?'), url('../fonts/UTM-Swiss-Condensed.woff') format('woff'),
		url('../fonts/UTM-Swiss-Condensed.ttf') format('truetype'),
		url('../fonts/UTM-Swiss-Condensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	width: 100%;
	margin: 0 auto;
	display: table;
}

body {
	
}

b, strong {
	font-weight: 700;
	/*color:#000;*/
}

.clear {
	clear: both;
}

.adv {
	padding-top: 10px;
	padding-bottom: 10px;
}

.icon-trang-diem {
	background-image: url(images/icon/P-1-57-16.png);
	height: 16px;
	width: 16px;
}

.thinh-icon ::before {
	content: "\f0c3";
	font-family: "FontAwesome";
	background: #fc7b8a;
	border-radius: 999px;
	color: #fff;
	height: 25px;
	line-height: 25px;
	margin-right: 5px;
	margin-top: 8px;
	text-align: center;
	width: 25px;
}

a {
	text-decoration: none !important;
	color: #4f8c0d;
}

a:hover {
	color: #ea0ccd;
	text-decoration: underline;
}

.header-top {
	height: 36px;
	width: 100%;
	border-bottom: solid 1px #eaeaea;
	z-index: -14;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.welcom {
	float: left;
	width: 50%;
	padding-top: 5px;
}

.topnav a {
	font-family: arial;
	font-size: 13px;
}

.welcom  p {
	margin: 7px 0px;
	font-family: arial;
	font-size: 14px;
}

.topnav {
	float: left;
	width: 50%;
}

.languages {
	float: right;
	padding: 7px 15px;
}

.languages>ul {
	display: none;
}

.user-info {
	float: right;
}

.user-info1 {
	float: left;
}

.user-info>ul>li {
	float: left;
	padding: 5px 5px;
	position: relative;
}

.user-info1>ul>li {
	float: left;
	padding: 7px 15px;
	position: relative;
}

.user-info>ul>li.taikhoan {
	padding-right: 40px;
}

.user-info>ul>li  a {
	font-size: 13px;
	color: #000;
}

.user-info>ul>li:hover a {
	color: #4f8c0d;
}

.user-info1>ul>li  a {
	font-size: 13px;
	color: #000;
}

.user-info1>ul>li:hover a {
	color: #4f8c0d;
}

.user-info>ul>li:hover>ul {
	top: 34px;
	z-index: 99;
	opacity: 1;
}

.user-info>ul>li>ul {
	position: absolute;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	top: 67px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	width: 180px;
	transition: top 0.3s ease 0s, opacity 0.3s ease 0s;
	opacity: 0;
	background: #fff;
}

.user-info>ul>li>ul>li {
	border-bottom: 1px #ededed solid;
	padding: 5px;
}

.header-center {
	padding: 28px 0px;
	display: flex;
}

div#logo-header {
	float: left;
	padding-top: 15px;
	width: 175px;
}

.cart {
	float: right;
	padding-top: 25px;
}

.search {
	float: left;
	padding-top: 25px;
	width: 700px;
}

input.search-input {
	padding: 4px 20px;
	width: 380px;
	height: 34px;
	border: solid 2px #f041de;
	border-right: none;
	box-shadow: none;
	display: inline-block;
	font-style: italic;
	font-size: 14px;
}

button.button-search {
	height: 46px;
	width: 48px;
	padding: 0;
	border-radius: 0;
	border: none;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	background: #f041de;
	margin-left: -4px;
}

div#search_block_top {
	float: right;
	padding-right: 15px;
}

p.icon {
	float: left;
	padding: 12px;
	background: #f041de;
	color: #fff;
	font-weight: bold;
}

p.text {
	float: left;
	padding: 12px;
	background: #f041de;
	width: 17px;
	color: #fff;
	font-weight: bold;
}

button.button-search:hover {
	background: #f041de;
	transition: .3s all;
}

.header-bottom {
	width: 100%;
	background: #f041de;
	clear: both;
	display: flex;
}

.menu>ul>li {
	float: left;
	padding: 15px 30px;
	margin-right: 2px;
	text-transform: uppercase;
}

.menu>ul>li:hover {
	background: #4f8c0d;
}
/* li.active {
background: #4f8c0d;
} */
.menu>ul>li>a {
	color: #fff;
	font-family: sans-serif;
}

.quickly {
	float: left;
	background: url(new/images/bg_here.png) no-repeat;
	width: 100px;
	height: 26px;
	text-align: center;
	color: #4f8c0d;
	margin-top: 10px;
	font-size: 13px;
	font-family: arial;
	padding-top: 4px;
}

.menu2>ul {
	
}

.menu2>ul>li {
	float: left;
	padding: 13px 27px;
	background:
		url(http://prestashop.magentech.com/themes/sp_g2shop/themes/sp_g2shop/css/../img/icon/sep.png)
		no-repeat right center;
}

.menu2>ul>li>a {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
}

.menu2>ul>li>a:hover {
	color: #4f8c0d;
	transition: .3s all;
}

.slide-container {
	/*padding: 20px 0px;*/
	background: #fff;
	display: flex;
}

.slide-sidebar {
	width: 280px;
	background: #fff;
	float: left;
	border: 1px solid #4f8c0d;
}

.slider {
	float: right;
	width: 900px;
	background: #fff;
}

.slidermoi {
	float: right;
	width: 900px;
	display: block;
	position: relative;
}

.amazingslider-slides {
	width: 662px;
}

.amazingslider-thumbnails {
	width: 236px;
}

h2.sidebar-title {
	background: #4f8c0d;
	color: #fff;
	font-family: arial;
	font-weight: bold;
	padding: 16px;
	font-size: 15px;
}

.slide-sidebar>ul {
	padding-bottom: 20px;
}

.slide-sidebar>ul>li {
	padding: 10px;
	border-bottom: 1px #ededed solid;
	position: relative;
}

.slide-sidebar>ul>li>ul {
	position: absolute;
	opacity: 0;
	left: 308px;
	width: 332px;
	background: #fff;
	top: 0;
	transition: 0.3s all;
	box-shadow: 0 0 2px #ccc;
	/*border:1px solid #4f8c0d;*/
}

.slide-sidebar>ul>li:hover ul {
	opacity: 1;
	left: 283px;
	z-index: 9999;
}

.slide-sidebar>ul>li>a {
	font-size: 15px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #000;
}

.slide-sidebar>ul>li>a:hover {
	color: #f041de;
	transition: .3s all;
}

.slide-sidebar>ul>li>a:after {
	content: "\f054";
	color: #4f8c0d;
	font-family: Fontawesome;
	font-size: 14px;
	float: right;
	padding-top: 11px;
}

.slide-sidebar>ul>li>ul>li>a:after {
	content: "\f054";
	color: #4f8c0d;
	font-family: Fontawesome;
	font-size: 14px;
	float: right;
	padding-top: 3px;
}

.slide-sidebar>ul>li>ul>li {
	padding: 9px;
	border-bottom: 1px #ededed solid;
	margin: 0px 15px;
	width: 300px;
	background: #fff;
	height: 20px;
}

.slide-sidebar>ul>li>ul>li>a {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #000;
}

.slide-sidebar>ul>li>ul>li>a:hover {
	color: #f041de;
	transition: .3s all;
}

.sidebar {
	width: 280px;
	float: left;
}

.text a {
	color: #777;
}

.text a:hover {
	color: #4f8c0d;
}

.main {
	float: left;
	width: 1200px;
}

.main1 {
	width: 895px;
	float: right;
}

.fright {
	float: right
}

.fleft {
	float: left;
}

.lamdep-fleft {
	float: left;
	width: 600px;
}

.lamdep-fright {
	float: right;
	width: 600px;
}

.bentrong li {
	display: inline-block;
	width: 50%;
	position: relative;
}

.about {
	/*border-bottom: 2px #ededed solid;*/
	clear: both;
	display: flex;
	margin-top: 32px;
	background: #fff;
}

.about>ul>li {
	float: left;
	width: 285px;
	margin-right: 20px;
}

.about>ul>li:last-child {
	margin-right: 0;
}

.about .icon {
	display: block;
	float: left;
	margin: 0 30px 0 0;
	position: relative;
	height: 68px;
	width: 68px;
}

.about .icon1 {
	background: #4f8c0d url(new/images/icon_shipping.png) no-repeat center;
}

.about .icon2 {
	background: #4f8c0d url(new/images/icon_heart.png) no-repeat center;
}

.about .icon3 {
	background: #4f8c0d url(new/images/icon_gift.png) no-repeat center;
}

.about .icon:after {
	content: "";
	height: 1px;
	width: 1px;
	border-style: solid;
	border-width: 8px;
	position: absolute;
	top: 27px;
	right: -16px;
	border-color: transparent transparent rgba(255, 0, 0, 0) #4f8c0d;
}

.text h2 {
	font-weight: normal;
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 5px;
	transition: 0.3s all ease 0s;
	margin-top: 0;
	font-family: arial;
}

;
}
.text h2 a:hover {
	color: #4f8c0d;
}

content.procuct {
	padding: 20px 0px;
	padding-bottom: 0px;
}

h1.product-title {
	font-size: 20px;
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	padding: 8px 25px;
	position: relative;
	background: #f041de;
	font-family: Tahoma, Geneva, sans-serif;
}

h1.product-title:after {
	content: "";
	height: 1px;
	width: 1px;
	border-style: solid;
	border-width: 5px;
	position: absolute;
	bottom: -10px;
	left: 0;
	border-color: #f041de #f041de transparent transparent;
}

.procuct {
	width: 100%;
	float: left;
	padding-top: 10px;
}

.procuct>ul>li {
	float: left;
	width: 200px;
	height: 350px;
	position: inherit;
	margin: 20px;
}

.procuct>ul>li:hover {
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
	border-color: #f041de;
}

.procuct>ul>li:nth-child(3n) {
	margin-right: 0px;
}

.demo6 img {
	width: 200px;
	height: 200px;
}

.procuct ul {
	margin-top: 28px;
}

.procuct ul li h2 a {
	/*font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    color: #777;
	font-weight:bold;*/
	
}

.title-product {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	height: 60px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}

.title-product a {
	color: #4f8c0d;
}

.title-product a:hover {
	color: #f041de;
	transition: .3s all;
}

.bad-code {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.price {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #f041de;
	font-weight: bold;
	text-align: center;
}

.price span.old {
	color: rgb(184, 184, 184);
	text-decoration: line-through;
}

.price span.new {
	color: #f041de;
	font-weight: bold;
	font-family: arial;
	font-size: 13px;
}

.procuct>ul>li:hover h2>a {
	color: #4f8c0d;
}

.bg_img {
	background: #000;
	position: absolute;
	width: 250px;
	height: 250px;
	z-index: 0;
	opacity: 0;
	top: 0px;
	-webkit-transform: scale(0);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
}

.demo6 {
	position: relative;
}

.demo6:hover .bg_img {
	top: 0;
	opacity: 1;
	z-index: 999999;
	-webkit-transform: scale(1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
}

a.add {
	background: #4f8c0d;
	padding: 7px 24px;
	color: #fff;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	float: left;
	margin-right: 2px;
	transition: .3s all;
}

a.add:hover {
	background: #2E6B86 !important;
	color: #fff
}

a.fb {
	padding: 5px 14px;
	background: #DDDDDD;
	color: #fff;
	float: left;
	margin: 0 2px;
	transition: .3s all;
}

.rating {
	padding: 10px 0px;
}

.product-cart a:hover {
	background: #4f8c0d;
}

.product-cart {
	text-align: center;
}

.slider-featured {
	height: 1%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.slider-featured h2.title {
	margin-bottom: 18px;
}

.slider-featured h2.title span {
	margin: 10px 0 0 0 !important;
	color: #545454;
	display: inline-block;
	font-size: 23px;
	border-radius: 0;
	font-family: arial;
}

.slider-featured .viewport {
	float: left;
	width: 1200px;
	height: 393px;
	overflow: hidden;
	position: relative;
	margin-top: 30px;
	border: 1px #ededed solid;
}

.slider-featured .disable {
	visibility: hidden;
}

.slider-featured .overview {
	list-style: none;
	position: absolute;
	padding: 0;
	margin: 0;
	left: 0;
}

.slider-featured .buttons {
	background: url(new/images/slider-arrows.png) #4f8c0d no-repeat 16px 5px;
	display: block;
	margin-right: 5px;
	text-indent: -999em;
	top: 122px;
	z-index: 999;
	height: 35px;
	width: 50px;
	overflow: hidden;
	position: relative;
}

.slider-featured .next {
	background: url(new/images/slider-arrows.png) #4f8c0d no-repeat -23px
		5px;
	margin: 0;
}

a.buttons.prev {
	float: left;
}

a.buttons.next {
	float: right;
}

.slider-featured  ul li.box {
	cursor: pointer;
	float: left;
	/* margin: 10px 2px 0 0;*/
	position: relative;
	overflow: hidden;
	width: 220px;
	background: #fff;
	padding: 10px;
	text-align: center;
	border-right: 1px solid #ebeef2;
}

.slider-featured  ul li.box a.post-img img {
	width: 100%;
	height: 230px;
	display: block;
	margin-bottom: 5px;
}

.slider-featured ul li.box a.post-title {
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	margin: 5px 0;
}

.slider-featured ul li.box a.readmore {
	font-size: 12px;
	display: block;
	text-align: center;
	padding: 5px 0;
}

.text p {
	font-family: arial;
	font-size: 13px;
	color: #777;
}

.main-tab {
	width: 1200px;
	margin: 15px auto;
}

.main-tab1 {
	width: 895px;
	margin: 15px auto;
}

.noteComment {
	font-weight: bold;
	color: #f041de;
}

.blockqouta1 {
	border-bottom: 2px solid #f041de;
}

.blockqouta1 h2 {
	text-transform: uppercase;
	/*font-family:'UTMHelvetIns';*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #00824a;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-bottom: 1px #f041de solid;
}

ul.tabs li {
	background: none;
	color: #777;
	display: inline-block;
	padding: 13px 24px;
	cursor: pointer;
	transition: 0.4s all;
	font-size: 14px;
	font-family: arial;
	text-transform: uppercase;
	position: relative;
}

ul.tabs li.current {
	background: #f041de;
	color: #FFF;
}

.tab-content {
	opacity: 0;
	background: #FFFFFF;
	display: none !important;
	transition: 0.4s all ease 0s;
}

.tab-content.current {
	opacity: 1;
	display: block !important;
}

li.tab-link.current:after {
	content: "";
	border-style: solid;
	border-width: 8px;
	height: 1px;
	position: absolute;
	width: 1px;
	z-index: 999999999;
	border-color: #f041de transparent transparent transparent;
	bottom: -18px;
	opacity: 1;
	left: 44%;
}

li.tab-link:after {
	content: "";
	border-style: solid;
	border-width: 8px;
	height: 1px;
	position: absolute;
	width: 1px;
	z-index: 999999999;
	border-color: #ff4081 transparent transparent transparent;
	opacity: 0;
	bottom: 2px;
	transition: 0.4s all ease 0s;
	left: 44%;
}

.main-adv.clear img {
	width: 100%;
	padding-top: 10px;
}

#slider2 {
	height: 1%;
	margin: 20px 0 20px 0;
	overflow: hidden;
	position: relative;
	border: 1px #f041de solid;
}

#slider2 .viewport {
	height: 120px;
	overflow: hidden;
	position: relative;
}

#slider2 .buttons {
	background: #B1B1B1;
	display: block;
	position: absolute;
	top: 40%;
	left: 0;
	width: 35px;
	height: 35px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 35px;
	text-decoration: none;
	font-size: 22px;
	z-index: 1111;
	opacity: 0;
}

#slider2 .next {
	right: 0;
	left: auto;
	top: 40%;
}

#slider2 .buttons:hover {
	color: #FAFAFA;
	background: #4f8c0d;
}

#slider2:hover .buttons {
	opacity: 1;
}

#slider2 .disable {
	visibility: hidden;
}

#slider2 .overview {
	list-style: none;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 240px;
	left: 0;
	top: 0;
}

#slider2 .overview li {
	float: left;
	/* margin: 0 20px 0 0; */
	padding: 1px;
	/* height: 121px; */
	/* border: 1px solid #dcdcdc; */
	width: 156px;
}

#slider2 .overview li {
	float: left;
	padding: 30px 20px;
}

#slider2 .overview li  img {
	transition: all .2s ease-in-out;
	/*opacity: .5;*/
}

#slider2 .overview li:hover  img {
	transform: scale(1.2);
	opacity: 1;
}

.block-news {
	width: 32%;
	float: left;
	margin-right: 24px;
}

.block-right {
	margin-right: 0px !important;
}

img.thumb {
	width: 84px;
	height: 84px;
}

.block-left h4 {
	padding: 10px;
	border-bottom: 3px #D8D8D8 solid;
	padding-left: 0px;
}

.block-news h4 span {
	border-bottom: 3px #4f8c0d solid;
	padding: 12px 0px;
	padding-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
}

.block-left>ul>li>a {
	float: left;
	width: 100px;
	background: #fff;
}

.block-left>ul {
	margin: 10px 0;
}

.block-left>ul>li {
	border-bottom: 1px dotted #f041de;
	height: 83px;
	margin-bottom: 20px;
}

.block-left1 h4 {
	padding: 10px;
	border-bottom: 3px #D8D8D8 solid;
	padding-left: 0px;
}

.block-left1>ul>li>a {
	float: left;
	width: 100px;
	background: #fff;
}

.block-left1>ul {
	margin: 10px 0;
}

.block-left1>ul>li {
	height: 83px;
	margin-bottom: 20px;
}

.block-content-left a {
	font-family: arial;
	font-size: 15px;
	color: #777;
	font-weight: 600;
}

.price span.new-block {
	color: rgb(255, 64, 129);
	font-family: arial;
	font-size: 16px;
	transition: 03s all;
}

.block-content-left a:hover {
	color: #4f8c0d;
}

a.more {
	padding: 5px 20px;
	background: #f041de;
	color: #FFF;
	transition: .3s all;
}

a.more:hover {
	background: #4f8c0d;
}

img.imgactive {
	width: 150px;
	height: 150px;
}

li.imgactive {
	height: 149px !important;
}

a.imgactive {
	width: 160px !important;
}

p.info {
	font-size: 13px;
	font-family: arial;
	padding: 16px 0px 12px 0px;
	color: #777;
}

span.date {
	padding: 5px;
	background: #DDD;
	color: #fff;
	margin-top: 5px;
	transition: .3s all;
	font-family: arial;
	font-size: 14px;
}

span.date:hover {
	background: #4f8c0d;
}

.block-right h4 {
	padding: 10px;
	border-bottom: 3px #D8D8D8 solid;
	padding-left: 0px;
}

img.avt {
	width: 130px;
	height: 150px;
	margin-right: 15px;
}

.huykira {
	background: #fff;
	margin: 10px 0px 30px 0px;
}

.huykira p {
	text-align: justify;
	font-family: arial;
	font-size: 14px;
	color: #777;
	font-style: oblique;
	padding-right: 15px;
	line-height: 164%;
}

.hk {
	/* padding: 35px;*/
	
}

.contact>ul {
	margin-top: 2px;
}

.contact>ul>li {
	padding: 10px 0px;
}

.contact p {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px;
	color: #777;
}

b.b {
	font-weight: 600;
	color: #000;
}

i.d {
	color: #FF4081 !important;
}

ul.social-block {
	margin-top: 2px;
}

ul.social-block>li {
	float: left;
	margin-right: 5px;
	padding: 7px 16px;
	background: #f041de;
	transition: .3s all;
}

ul.social-block>li:hover {
	background: #4f8c0d;
}

ul.social-block>li a {
	color: #fff;
}

footer {
	width: 100%;
	background: #f041de;
	height: 500px;
}

.send {
	width: 100%;
	height: 150px;
	text-align: center;
	border-bottom: 1px #131415 solid;
	background: #f041de;
}

h2.titilemail {
	padding: 25px 12px;
	color: #fff;
	font-size: 17px;
	font-family: arial;
	font-weight: 600;
}

input.sendmail {
	height: 40px;
	width: 600px;
	border: none;
	padding-left: 10px;
	font-style: italic;
	font-size: 14px;
}

button.submit {
	width: 108px;
	height: 43px;
	border: none;
	color: #fff;
	background: #4f8c0d;
	margin-left: -4px;
}

button.submit:hover {
	background: #1E78A0;
}

ul.link {
	margin-top: 30px;
}

ul.link>li {
	width: 23%;
	margin-left: 24px;
	float: left;
}

ul.link>li:last-child {
	margin-right: 0px;
}

.link-title {
	padding: 10px 0px;
}

.link-title>h3 {
	color: #fff;
	font-size: 17px;
	font-family: 'Titillium Web', sans-serif !important;
	position: relative;
}

.link-title>h3:after {
	content: "";
	position: absolute;
	width: 30px;
	height: 1px;
	background: #fff;
	left: 0;
	bottom: 0;
}

ul.link>li>ul>li:hover a {
	opacity: 1;
}

ul.link>li>ul>li:hover a:before {
	opacity: 1;
	padding-left: 10px;
}

ul.link>li>ul>li :hover a:before {
	opacity: 1;
}

ul.link>li>ul>li>a:before {
	content: "\f105 ";
	font-family: fontawesome;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
	transition: 0.3s all ease 0s;
}

ul.link>li>ul>li>a {
	color: #FFF;
	font-size: 13px;
	font-family: arial;
	transition: .3s all;
}

ul.link>li>ul>li {
	padding: 12px 0px;
}

.copyright {
	width: 100%;
	background: #4f8c0d;
	text-align: center;
	padding: 10px 0px;
}

.copyright>p {
	color: #CFC4C4;
	font-size: 14px;
	font-family: arial;
}

.copyright>p>a {
	color: #F0E9E9;
	transition: .3s all;
}

.copyright>p>a:hover {
	color: #4f8c0d;
}

h4.sidebar-title span {
	border-bottom: 3px #4f8c0d solid;
	padding: 12px 0px;
	padding-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
}

h4.sidebar-title {
	border-bottom: 3px #ededed solid;
	padding: 10px 0;
}

.siber img {
	padding: 21px 0px 0px 0px;
	width: 100%;
}

.siber>a {
	padding: 5px 10px;
	border: 1px #ededed solid;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 13px;
	font-family: arial;
	color: #777;
	transition: .3s all;
}

.siber>a:hover {
	background: #4f8c0d;
	border: 1px #fff solid;
	color: #fff;
	transition: .3s all;
}

.lendau {
	position: fixed;
	bottom: 5px;
	right: 0px;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	padding: 1em;
	display: none;
	cursor: pointer;
}

.lendau img {
	float: right;
}

.lendau span {
	float: left;
	margin-right: 5px;
	margin-top: 3px;
}

#cssmenu {
	display: none;
}

<!--
--
-REPONSIVE----
>
@media ( max-width : 1201px) {
	.container {
		width: 1200px;
		margin: 0 auto;
	}
	.nhanh {
		display: none;
	}
	img {
		max-width: 100%;
	}
	.search {
		float: left;
		width: 698px;
	}
	.main-tab1 {
		width: 100% !important;
	}
	.menu>ul>li {
		float: left;
		padding: 15px 25px;
		margin-right: 2px;
	}
	.slide-sidebar {
		width: 260px;
	}
	.slide-sidebar>ul>li {
		padding: 9px;
	}
	.slide-sidebar>ul>li>ul {
		left: 290px;
		width: 200px;
	}
	.slide-sidebar>ul>li:hover ul {
		left: 246px;
	}
	.slider {
		width: 725px;
	}
	#amazingslider, .amazingslider-space-0 {
		width: 725px !important;
		height: 367px !important;
	}
	.sidebar {
		width: 260px;
	}
	.adv>a>img {
		width: 260px !important;
	}
	.main {
		width: 725px;
	}
	.about>ul>li {
		width: 228px;
	}
	.about .icon {
		margin: 0 18px 0 0;
		height: 61px;
		width: 56px;
	}
	.procuct>ul>li {
		margin-right: 29px;
		width: 222px;
	}
	.demo6 img {
		width: 222px;
	}
	.bg_img {
		width: 222px;
		height: 329px;
	}
	a.add {
		padding: 7px 21px;
	}
	.slider-featured .viewport {
		width: 725px;
		height: 258px;
	}
	.main-tab {
		width: 725px;
	}
	.block-news {
		margin-right: 20px;
	}
	ul.link>li {
		margin-right: 20px;
	}
	.link-title>h3 {
		font-size: 14px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
	.container {
		width: 1000px;
		margin: 0 auto;
	}
	.nhanh {
		display: none;
	}
	#primary1 {
		display: none;
	}
	#primary {
		padding: 0 15px;
		width: 100% !important
	}
	.search {
		float: left;
		width: 698px;
	}
	.main-tab1 {
		width: 100% !important;
	}
	#diendan img {
		width: 100% !important;
	}
	.huykira {
		display: block;
		margin: 0;
	}
	.contact>ul>li {
		padding: 6px 0px;
	}
	#amazingcarousel-container-1 {
		width: 95% !important;
		padding-left: 35px;
	}
	.menu>ul>li {
		float: left;
		padding: 15px 25px;
		margin-right: 2px;
	}
	.slide-sidebar {
		width: 260px;
	}
	.slide-sidebar>ul>li {
		padding: 9px;
	}
	.slide-sidebar>ul>li>ul {
		left: 290px;
		width: 200px;
	}
	.slide-sidebar>ul>li:hover ul {
		left: 246px;
	}
	.slider {
		width: 725px;
	}
	.thumbList li {
		float: none !important;
		display: inline-block;
	}
	#amazingslider, .amazingslider-space-0 {
		width: 725px !important;
		height: 367px !important;
	}
	.sidebar {
		width: inherit;
		padding-top: 10px;
	}
	.adv>a>img {
		width: 260px !important;
	}
	.main, .main1 {
		width: 1000px;
	}
	.sidebar {
		display: none;
	}
	.about>ul>li {
		width: 228px;
	}
	.about .icon {
		margin: 0 18px 0 0;
		height: 61px;
		width: 56px;
	}
	.procuct>ul>li {
		margin-right: 30px;
		width: 200px;
	}
	.social-block .pinterest {
		display: none;
	}
	ul.link>li {
		width: auto !important;
	}
	#diendan img {
		width: 1000px !important;
	}
	.demo6 img {
		width: 200px;
	}
	.bg_img {
		width: 222px;
		height: 329px;
	}
	a.add {
		padding: 7px 21px;
	}
	.slider-featured .viewport {
		width: 1000px;
		height: 258px;
	}
	.main-tab {
		width: 1000px;
	}
	.block-news {
		margin-right: 20px;
	}
	ul.link>li {
		margin-right: 20px;
	}
	.link-title>h3 {
		font-size: 14px;
	}
	.welcom {
		float: left;
		width: 30%
	}
	.topnav {
		float: right;
		width: 70%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.container {
		width: 750px;
		margin: 0 auto;
	}
	.nhanh {
		display: none;
	}
	.welcom {
		float: left;
		width: 38%;
	}
	.main-tab1 {
		width: 100% !important;
	}
	#diendan img {
		width: 100% !important;
	}
	.gallery {
		width: 100% !important;
		float: none;
		text-align: center;
	}
	.thumbList li {
		float: none !important;
		display: inline-block;
	}
	.contInfo {
		display: block;
	}
	.optionI {
		width: 99% !important;
	}
	.prodInfo {
		width: 100% !important;
		float: none;
		text-align: center;
	}
	#amazingcarousel-container-1 {
		width: 97% !important;
		padding-left: 25px;
	}
	.copyright {
		padding: 12px 0px;
	}
	#primary1, .taikhoan {
		display: none;
	}
	.topnav {
		float: left;
		width: 62%;
	}
	div#logo-header {
		padding-top: 15px;
		text-align: center;
		float: none;
		margin: 0 auto;
	}
	div#search_block_top {
		float: none;
		padding-right: 0px;
	}
	.search {
		float: left;
		width: 589px;
	}
	input.search-input {
		padding: 4px 20px;
		width: 496px;
	}
	.cart {
		float: right;
	}
	img.avt {
		display: none;
	}
	.menu {
		display: none;
	}
	.menu2>ul>li {
		padding: 10px 16px;
	}
	#cssmenu {
		display: block;
	}
	#cssmenu>ul>li.menu-diendan {
		display: none;
	}
	.slide-sidebar {
		display: none;
	}
	.slider {
		width: 100%;
	}
	#amazingslider, .amazingslider-space-0 {
		width: 100% !important;
		height: 395px !important;
	}
	.sidebar {
		display: block;
		width: 100% !important;
		padding-top: 30px;
	}
	.main, .main1 {
		width: 100% !important;
	}
	.about>ul>li {
		width: 236px;
	}
	.demo6 img {
		width: 200px;
	}
	.procuct>ul>li {
		width: 200px;
	}
	.bg_img {
		width: 230px;
		height: 340px;
	}
	.slider-featured .viewport {
		width: 749px;
	}
	.main-tab {
		width: 100%;
	}
	.block-news {
		margin-right: 15px;
	}
	img.thumb {
		width: 70px;
		height: 70px;
	}
	.block-left>ul>li>a {
		float: left;
		width: 70px;
		background: #fff;
	}
	img.imgactive {
		width: 100px;
		height: 100px;
	}
	a.imgactive {
		width: 96px !important;
	}
	li.imgactive {
		height: 160px !important;
	}
	li.imgactive img {
		display: block;
		width: 90px;
	}
	.flickr {
		display: none;
	}
	.huykira {
		height: 130px;
	}
	img.avt {
		width: 95px;
		height: 112px;
	}
	.hk {
		padding: 10px;
	}
	ul.social-block {
		margin-top: 9px;
	}
	ul.social-block>li {
		padding: 5px 11px;
	}
	ul.link>li {
		width: 26%;
	}
	ul.link>li:nth-child(3n) {
		display: none;
	}
	ul.link>li:last-child {
		margin-right: 0px;
	}
	.user-info>ul>li {
		display: none;
	}
}

@media screen and (min-width:480px) and (max-width:767px) {
	.container {
		width: 465px;
		margin: 0 auto;
	}
	.nhanh {
		display: none;
	}
	#cssmenu {
		display: block;
	}
	.menu {
		display: none;
	}
	.welcom {
		display: block;
		width: 100%;
		text-align: center;
	}
	.main-tab1 {
		width: 100% !important;
	}
	.breadcrumb {
		padding-top: 20px;
	}
	img {
		max-width: 100%;
	}
	.relateProdList li {
		width: 20% !important;
	}
	.headSectBrand ul, .headSectBrand li {
		width: 100% !important;
	}
	.paging {
		margin-bottom: 10px;
	}
	ul.tabs li.current {
		width: auto !important;
	}
	.tabs .tuvan, .tabs .danhgia {
		display: none;
	}
	.relate_post {
		display: none;
	}
	.optionI {
		width: auto !important;
	}
	.section {
		width: 100% !important;
	}
	.stepOrder, .formOrder, .orderStatistic {
		width: 100% !important;
	}
	.stepOrder li {
		width: 45% !important;
		text-align: center;
	}
	.sidebar {
		width: inherit;
	}
	.thumbList {
		display: inline-flex;
	}
	.tab_content {
		display: block !important;
	}
	.adv {
		display: none;
	}
	.prodInfo {
		width: 100% !important;
	}
	.cartLnk {
		width: 100% !important;
		padding-bottom: 5px;
	}
	.ribbon10 {
		width: auto !important;
	}
	.customer {
		width: auto !important;
	}
	.cartOrder span {
		display: block;
		padding-top: 10px;
	}
	.acceptBtn1 {
		width: 100% !important;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.item_product_wrapper {
		width: 47% !important;
	}
	.item_product_title {
		height: 80px;
	}
	.item_product_wrapper2 {
		width: 47% !important;
	}
	.figureImg img {
		padding-left: 30px;
	}
	.contInfo {
		display: none;
	}
	.item_product_wrapper3 {
		width: 47% !important;
	}
	#primary1 {
		display: none;
	}
	.siber {
		display: none;
	}
	.acceptBtn, .benel {
		width: 100% !important;
		padding-bottom: 10px;
	}
	.moreFunc {
		display: block;
	}
	.sectInput .rowE p.label {
		text-align: left;
	}
	.sectInput .rowE p.input {
		margin-left: 100px;
	}
	.sectInput .rowE p.input .inputTxt V {
		display: none;
	}
	.acceptBtn {
		padding-bottom: 10px;
	}
	.gallery {
		width: 100% !important;
		float: none;
		text-align: center;
	}
	.thumbList {
		text-align: center;
	}
	.thumbList li {
		float: none !important;
		display: inline-block;
	}
	.contInfo {
		display: none;
	}
	.topnav {
		float: none;
		width: 100%;
		margin: 0 auto;
		display: none;
	}
	div#logo-header {
		float: none;
		padding: 15px 0;
		text-align: center;
		width: 100%;
	}
	.search {
		float: none;
		width: 100%;
	}
	input.search-input {
		width: 200px;
	}
	#searchbox {
		margin-top: 24px;
	}
	.cart {
		display: block;
		float: left;
		margin-left: 20px;
	}
	.menu2 {
		display: none;
	}
	.slide-sidebar {
		display: none;
	}
	.slider {
		width: 100%;
		float: none;
	}
	#amazingslider, .amazingslider-space-0 {
		width: 465px !important;
		height: 260px !important;
	}
	.sidebar {
		display: block;
	}
	.main, .main1 {
		width: 100%;
		float: none;
	}
	.about>ul>li {
		width: 100%;
		margin: 10px 0px;
	}
	.procuct>ul>li {
		width: 222px;
		margin: 0 auto;
		margin-left: 6px;
	}
	.procuct>ul>li:nth-child(2n) {
		margin-right: 0px !important;
	}
	.procuct>ul>li:nth-child(3n) {
		margin-right: 21px;
	}
	.main-tab {
		width: 100%;
	}
	ul.tabs li {
		padding: 13px 15px;
	}
	.slider-featured .viewport {
		width: 465px;
		height: 258px;
	}
	.block-news {
		width: 100%;
	}
	ul.social-block {
		margin: 7px 0px;
	}
	ul.social-block>li {
		margin-bottom: 15px;
	}
	input.sendmail {
		width: 330px;
	}
	ul.link {
		display: none;
	}
	footer {
		height: auto;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	.container {
		width: 305px;
		margin: 0 auto;
	}
	.nhanh {
		display: none;
	}
	#cssmenu {
		display: block;
	}
	.menu {
		display: none;
	}
	.welcom {
		display: none;
	}
	.breadcrumb {
		padding-top: 20px;
	}
	.main-tab {
		width: 100% !important;
	}
	<!--
	-them--->.main-tab1 {
		width: 100% !important;
	}
	ul.tabs li.current {
		width: auto !important;
	}
	.tabs .tuvan, .tabs .danhgia {
		display: none;
	}
	.relate_post {
		display: none;
	}
	.optionI {
		width: auto !important;
	}
	.section {
		width: 100% !important;
	}
	.stepOrder, .formOrder, .orderStatistic {
		width: 100% !important;
	}
	.stepOrder li {
		width: 45% !important;
		text-align: center;
	}
	.sidebar {
		width: inherit;
	}
	.thumbList {
		text-align: center;
	}
	.tab_content {
		display: block !important;
	}
	.adv {
		display: none;
	}
	.prodInfo {
		width: 100% !important;
	}
	.delSelect, .unitPrice {
		display: none;
	}
	.prodList li.headR {
		
	}
	.cartLnk {
		width: 100% !important;
		padding-bottom: 5px;
	}
	.ribbon10 {
		width: auto !important;
	}
	.customer {
		width: auto !important;
	}
	.iptLst {
		width: 100% !important;
	}
	.iptLst li .input {
		float: right;
	}
	.cartOrder span {
		display: block;
		padding-top: 10px;
	}
	.acceptBtn1 {
		width: 100% !important;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.item_product_wrapper {
		width: 95% !important;
		margin: 0 auto;
		height: 360px;
	}
	.item_product_wrapper2, .item_product_wrapper3 {
		width: 95% !important;
	}
	#primary1 {
		display: none;
	}
	.acceptBtn, .benel {
		width: 100% !important;
	}
	.sectInput .rowE p.label {
		width: 100%;
		text-align: left;
	}
	.sectInput .rowE p.input {
		margin: 0;
		width: 100%;
	}
	.sectInput .rowE p.input .inputTxt V {
		display: none;
	}
	.acceptBtn {
		padding-bottom: 10px;
	}
	.gallery {
		width: 100% !important;
		float: none;
		text-align: center;
	}
	.thumbList {
		text-align: center;
	}
	.thumbList li {
		float: none !important;
		display: inline-block;
	}
	.contInfo {
		display: none;
	}
	.headSectBrand, .headSectDesc {
		display: none;
	}
	.paging {
		margin-bottom: 10px;
	}
	<!--
	-them--->p.text {
		display: none;
	}
	.header-top {
		display: none;
	}
	.topnav {
		float: none;
		width: 100%;
	}
	#diendan {
		display: none;
	}
	.user-info>ul>li:last-child {
		display: none;
	}
	.user-info>ul>li {
		padding: 7px 19px 7px 0px;
	}
	div#logo-header {
		float: none;
		padding: 15px 0;
		text-align: center;
		width: 100%;
	}
	.search {
		float: none;
		width: 100%;
	}
	div#search_block_top {
		padding-right: 0px;
	}
	input.search-input {
		width: 210px;
	}
	.menu2 {
		display: none;
	}
	.slide-sidebar {
		display: none;
	}
	.slider {
		width: 100%;
	}
	#amazingslider, .amazingslider-space-0 {
		width: 305px !important;
		height: 167px !important;
	}
	.main, .main1 {
		width: 100%;
		float: none;
	}
	.about>ul>li {
		width: 100%;
		margin: 10px 0px;
	}
	.procuct>ul>li {
		width: 100% !important;
		margin: 0 auto;
	}
	.demo6 img {
		width: 100% !important;
	}
	.bg_img {
		width: 100%;
		height: 453px;
	}
	.slider-featured .viewport {
		width: 305px;
		height: 258px;
	}
	ul.tabs li {
		padding: 13px 4px;
		font-size: 11px;
	}
	.block-news {
		width: 100%;
	}
	.block-left, .main-adv.clear img, .block-left1 {
		display: none;
	}
	.hk p {
		text-align: justify;
		line-height: 144%;
	}
	h4 span {
		
	}
	h2.titilemail {
		padding: 18px 7px;
		font-size: 12px;
	}
	input.sendmail {
		width: 200px;
	}
	ul.social-block {
		margin-top: 5px;
	}
	ul.social-block>li {
		margin-bottom: 10px;
	}
	ul.link {
		display: none;
	}
	.copyright>p {
		font-size: 9px;
	}
	footer {
		height: auto;
	}
	.cart {
		display: block;
		width: 100%;
	}
}

@media only screen and (max-width : 320px) {
	.container {
		width: 280px !important;
		margin: 0 auto;
	}
	.nhanh {
		display: none;
	}
	img {
		max-width: 100%;
	}
	#cssmenu {
		display: block;
	}
	.menu {
		display: none;
	}
	.welcom {
		display: none;
	}
	.main-tab {
		width: 100% !important;
	}
	.main-tab1 {
		width: 100% !important;
	}
	.main1 {
		width: 100% !important;
		padding-top: 20px;
	}
	.gallery {
		width: 100% !important;
		float: none;
		text-align: center;
	}
	.prodInfo {
		width: 100% !important;
	}
	.main-tab #tab-2, .main-tab #tab-3 {
		display: none;
	}
	.header-top {
		display: none;
	}
	#diendan {
		display: none;
	}
	.topnav {
		float: none;
		width: 100%;
	}
	.user-info>ul>li:nth-child(2n) {
		display: none;
	}
	.user-info>ul>li:last-child {
		display: none;
	}
	.user-info>ul>li {
		padding: 7px 19px 7px 0px;
	}
	div#logo-header {
		float: none;
		padding: 15px 0;
		text-align: center;
		width: 100%;
	}
	.search {
		float: none;
		width: 100%;
	}
	div#search_block_top {
		padding-right: 0px;
	}
	input.search-input {
		width: 190px;
	}
	.cart {
		display: block;
		width: 100%;
	}
	p.text {
		display: none;
	}
	.menu2 {
		display: none;
	}
	.slide-sidebar {
		display: none;
	}
	.slider {
		width: 100%;
	}
	#amazingslider, .amazingslider-space-0 {
		width: 280px !important;
		height: 120px !important;
	}
	.main {
		width: 100%;
		float: none;
	}
	.text p {
		font-size: 12px;
	}
	.about>ul>li {
		width: 100%;
		margin: 10px 0px;
	}
	.procuct>ul>li {
		margin: 0 auto;
		width: 100%;
	}
	.demo6 img {
		width: 100% !important;
	}
	.bg_img {
		width: 100%;
		height: 325px;
	}
	.slider-featured .viewport {
		width: 280px;
		text-align: center;
	}
	a.add {
		padding: 7px 20px;
	}
	<!--
	-them--->.newsCont {
		width: 100%;
	}
	ul.tabs li.current {
		width: auto !important;
	}
	.tabs .tuvan, .tabs .danhgia {
		display: none;
	}
	.relate_post {
		display: none;
	}
	.optionI {
		width: auto !important;
	}
	.section {
		width: 100% !important;
	}
	.stepOrder, .formOrder, .orderStatistic {
		width: 100% !important;
	}
	.stepOrder li {
		width: 45% !important;
		text-align: center;
	}
	.sidebar {
		width: 100% !important;
	}
	.thumbList {
		text-align: center;
	}
	.tab_content {
		display: block !important;
	}
	.adv {
		display: none;
	}
	.prodInfo {
		width: 100% !important;
	}
	.delSelect, .unitPrice {
		display: none;
	}
	.prodList li.headR {
		width: 100% !important;
	}
	.cartLnk {
		width: 100% !important;
		padding-bottom: 5px;
	}
	.ribbon10 {
		width: auto !important;
	}
	.customer {
		width: auto !important;
	}
	.iptLst {
		width: 100% !important;
	}
	.iptLst li .input {
		float: right;
	}
	.cartOrder span {
		display: block;
		padding-top: 10px;
	}
	.acceptBtn1 {
		width: 100% !important;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.item_product_wrapper {
		width: 95% !important;
		margin: 0 auto;
		height: 360px;
	}
	.item_product_wrapper2, .item_product_wrapper3 {
		width: 95% !important;
	}
	.breadcrumb {
		padding-top: 20px;
	}
	.blockqouta {
		padding-top: 20px;
	}
	.sidebar {
		padding-top: 10px;
	}
	.entry {
		font-size: .9em;
		line-height: 1.6em;
		color: #333;
	}
	#primary1, .ttvt {
		display: none;
	}
	.contInfo {
		display: none;
	}
	.acceptBtn, .benel {
		width: 100% !important;
	}
	.moreFunc li p {
		width: 100% !important;
	}
	.sectInput .rowE p.label {
		width: 100%;
		text-align: left;
	}
	.sectInput .rowE p.input {
		margin: 0;
		width: 100%;
	}
	.sectInput .rowE p.input .inputTxt V {
		display: none;
	}
	.thumbList li {
		float: none !important;
		display: inline-block;
	}
	.relateProdList li {
		display: inline-block;
		width: 27% !important;
	}
	.headSectDesc, .headSectBrand {
		width: 91% !important;
	}
	.headSectBrand, .headSectDesc {
		display: none;
	}
	.paging {
		margin-bottom: 10px;
	}
	<!--
	-them--->ul.tabs li {
		padding: 13px 4px;
		font-size: 11px;
	}
	ul.tabs li:last-child {
		display: none;
	}
	ul.tabs li:nth-child(3n) {
		display: none;
	}
	.block-news {
		width: 100%;
	}
	img.thumb {
		width: 50px;
		height: 50px;
	}
	a.imgactive {
		width: 56px !important;
	}
	li.imgactive {
		height: 135px !important;
	}
	.imgactive img {
		width: 50px;
	}
	img.avt {
		width: 70px;
		height: 70px;
	}
	.hk {
		padding: 5px;
	}
	.huykira {
		height: 180px;
	}
	h2.titilemail {
		padding: 18px 7px;
		font-size: 12px;
	}
	input.sendmail {
		width: 200px;
	}
	ul.social-block {
		margin-top: 5px;
	}
	ul.social-block>li {
		margin-bottom: 10px;
	}
	ul.link {
		display: none;
	}
	button.submit {
		margin-left: 0px;
		margin-top: 10px;
	}
	.copyright>p {
		font-size: 9px;
	}
	footer {
		height: auto;
	}
	.block-left>ul>li>a {
		width: 55px;
	}
}
<!--
--
-REPONSIVE----
>